<div class="ui secondary pointing menu">
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="item">Home</a>
  <a routerLink="news/business" routerLinkActive="active" class="item">Business</a>
  <a routerLink="news/general" routerLinkActive="active" class="item">General</a>
  <a routerLink="news/health" routerLinkActive="active" class="item">Health</a>
  <a routerLink="news/science" routerLinkActive="active" class="item">Science</a>
  <a routerLink="news/sports" routerLinkActive="active" class="item">Sports</a>
  <a routerLink="news/technology" routerLinkActive="active" class="item">Technology</a>

  <p>🇷🇺</p>
  <p>🇺🇸</p>
  <p>🏴󠁧󠁢󠁥󠁮󠁧󠁿</p>
  <p>🇩🇪</p>
  <p>🇫🇷</p>
</div>

<!-- business general health science sports technology -->